@import 'global__style';
$content-text: 20px;

.main__text{
    font-size: $content-text;
    background-color: rgb(255, 255, 255, 0);

    text-align: center;
    &-inner{
        color: #000;
        padding: 10px 20px;
        padding-bottom: 35px;
        
        background-color: rgb(255, 255, 255, 0.9);
        border-radius: 25px;

        position: relative;

        & h2{
            position: absolute;
            top: -49px;
            left: 33%;
            
            font-size: 30px;
            padding: 6px 30px;
            padding-top: 12px;
            background-color: rgb(255, 255, 255, 0.9);
            border-top-right-radius: 25px;
            border-top-left-radius: 25px;
            border-bottom: 1px solid #000;
        }
        & p{
            margin-top: 30px;
            
        }
        & .main__text-about{
            
            & .main__text-img{
                float: top;
                max-width: 250px;
                padding-right: 10px;
                
            }
            & .text{
                
                padding-left: 15px;
            }
            
        }
        & .info{
            text-align: center;
            padding-top: 40px;
            font-size: 10px;
            & p{
                margin-top: 5px;
            }
            & ul{
                display: flex;
                flex-direction: row;
                justify-content: center;
                & li{
                    margin-left: 30px;
                }
            }
        }
        
    }
}

.main{
    padding-top: 80px;
    padding-bottom: 30px;
}

//mobile__devices
@media (max-width: 820px){
    $content-text: 10px;
    .main__text{
        font-size: $content-text;
    }
}
