//переменные
$menu-width: 21%; //ширина бокового меню



$main-text: 30px;
$menu-point: 18px;
$menu-point--height: 23px;
$menu-point--hover: 21px;

$submenuItems-fs: 14px;
$submenuItems-lh: 20px;

$fa-size: 30px;

//цвета
$color-h1:red;


html{
    box-sizing: border-box;
}
*,*::after, *::before{
    box-sizing: inherit;
}

@font-face {
    // название шрифта(чтобы не запутаться лучше указать название папки со шрифтом) 
    font-family: "CTCSPLASH"; 
    // адрес шрифта и тип  font-family: "CTCSPLASH";
    src: url("../fonts/CTCSPLASHROUNDED.woff") format("woff"); 
    font-style: normal; 
    font-weight: bold; 
    font-display: swap;
    } 

body{
    font-size: $main-text;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
}
ul{
    list-style: none;
}
a{
    color: inherit;
    text-decoration: none;
}

.container{
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}

.main{
    height: 100vh;
    background-image: url(../images/main-bg.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    padding-left: $menu-width;
    position: relative;

    
    z-index: 1;

    display: flex;
    align-items: center;
}

.menu{
    padding-top: 30px;
    z-index: 2;
    position: absolute;
    
    background-image: url(../images/menu-bg.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    
    height: 100vh; 

    width: $menu-width;

    // &-list{
    //     padding-left: 50px;
    //     text-align: right;
    // }
    // &-item{
    //     padding-right: 30px;
    // }
}


.accordion-menu {
    width: 100%;
    max-width: 350px;
    margin-top: 40px;
}
// .accordion-menu li.open .dropdownlink {
    
//     .fa-chevron-down {
        
//         transform: rotate(180deg);
//     }
// }
.accordion-menu li:last-child .dropdownlink {
    border-bottom: 0;
}
.dropdownlink {

    font-size: $menu-point;


    cursor: pointer;
    display: block;
    
    
    border-bottom: 3px solid #ccc;
    
    position: relative;
    transition: all 0.4s ease-out;

    
    color: #FFFFFF;
    &-a{
        line-height: $menu-point--height;

        display: block;
        transition: all 0.4s ease-out;
        color: #FFFFFF;


        overflow: hidden;
        
        border-right: 2px solid transparent;
        border-left: 2px solid transparent;
        transition: all 750ms;
        &:hover{
            font-size: $menu-point--hover;

            //color: #D3D6E9;
            margin-left: 5px;  
            font-weight: bold; 
        }
        
      }
      
    
    &__uslug{
        position: relative;
        &-arrow{
            
            position: absolute;
            
            transform: scale(0.5);

            width: 70px;
            height: 38px;
            top: 7px;
            right: 10%;    
            transition: all 0.5s;
        }
    }
}
.rotate{
    transform: rotate(180deg) scale(0.5);
    width: 70px;
    height: 38px;
}



.dropdownlink a  {

    
    
    display: block;
    color: #FFFFFF;
    padding: 12px 12px 12px 45px;
    overflow: hidden;
    position: relative;
    border-right: 2px solid transparent;
    border-left: 2px solid transparent;
    transition: all 750ms;
    span {
      z-index: 20;
    }

    &:after {
      background: #fff;
      content: "";
      height: 155px;
      left: -75px;
      opacity: .2;
      position: absolute;
      top: -50px;
      transform: rotate(35deg);
      transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
      width: 50px;
      z-index: -10;

    }
}

.dropdownlink a:hover {
    
  &:after {
      
    left: 120%;
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  }
}






.submenuItems {
    display: none;
    color: #FFFFFF;
    
    li {
      border-bottom: 1px solid #B6B6B6;
    }
}

.submenuItems a  {

    font-size: $submenuItems-fs;
    line-height: $submenuItems-lh;


    display: block;
    color: #FFFFFF;
    padding: 12px 12px 12px 25px;
    overflow: hidden;
    position: relative;
    border-right: 2px solid transparent;
    border-left: 2px solid transparent;
    transition: all 750ms;
    span {
      z-index: 20;
    }

    &:after {
      background: #fff;
      content: "";
      height: 155px;
      left: -75px;
      opacity: .2;
      position: absolute;
      top: -50px;
      transform: rotate(35deg);
      transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
      width: 50px;
      z-index: -10;

    }
}

.submenuItems a:hover {
    border-left: 5px solid #FFFFFF;
    border-right: 5px solid #FFFFFF;
  &:after {
      
    left: 120%;
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  }
}







.popup{
    opacity: 0;
    visibility: hidden;

    position: fixed;
    
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0,0.8);
    top: 0;
    right: 0;

    transition: all 0.8s ease 0s;
    &__body{
        
        min-height: 100%;
        display: flex;
        align-items: center;
        justify-content: left;
        padding: 30px 10px;
        padding-left: $menu-width + 3%;
    }
    &__content{
        

        background-color: rgb(46,85,185,0.8);
        color: #000;
        width: 540px;
        height: 500px;
        padding: 40px;
        
        position: relative;

        border-radius: 15px;
        border: 2px solid rgb(46,85,185,1);
        
        transition: all 0.8s ease 0s;
        opacity: 0;
        transform: translate(-100%, 0px);
    }
    &__close{
        position: absolute;
        height: 30px;
        width: 30px;
        right: 10px;
        top: 10px;
        color: #FFFFFF;
        border: 1px solid #FFFFFF;
        border-radius: 50%;
        content: "";
        
        color: white;
        background-color: transparent;
        & .krest{
            top: 4px;
            left: -1px;
            display: block;
            position: relative;
            width: 30px;
            height: 20px;
            &::after,
            &::before{
                
                content: "";
                background-color: #FFFFFF;
                position: absolute;
                width: 100%;
                height: 2px;
                left: 0;

                transition: all .5s;
            }
            &::before{
                transform: rotate(45deg);
                top: 9px;
            }
            &::after{
                transform: rotate(-45deg);
                bottom: 9px;
            }
        }
        
        
    }
    &:target{
        opacity: 1;
        visibility: visible;
    }
    &:target .popup__content{
        transform: translate(0px, 0px);
        opacity: 1;
    }
    &__area{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        cursor: default;
    }
}





.calculator-content{
    & .title{
        width: 40%;
        text-align: right;
    }
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    

    color: #FFFFFF;
    font-size: 18px;
    line-height: 20px;

    &-title{
        & h2{
            font-size: 20px;
            text-align: center;
            margin-bottom: 28px;
            margin-top: 15px;
        }
    }
    &-item{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 26px;
    }
    &-tarif{
        &-btns{
            display: flex;
              
            & .tons{
                &:last-child{
                    margin-left: 25px;
                }
                
                text-align: center;
                padding: 6px 15px;
                border: 2px solid #D3D6E9;
                border-radius: 8px;
                color: #D3D6E9;
                background-color: transparent;
                cursor: pointer;

                transition: all .5s;
                
                &:hover{
                    background-color: #D3D6E9;
                    color: #000;
                }
                &.active{
                    color: #000;
                    background-color: #D3D6E9;
                }


                
            }
            
            & .tons-text{
                font-size: 20px;
                
            }
        }
    }
    
    &-inputs{
        & .input{
            width: 60%;
            padding-left: 50px;
            #total-distance{
                width: 100%;
                text-align: center;
                padding-bottom: 5px;
                border-bottom: 1px solid #D3D6E9;
            }
            
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        & input{

            outline: none;

            color: #FFFFFF;
            font-size: 18px;
            text-align: right;

            
            background-color: transparent;
            border: none;
            &::placeholder{
                color: #FFFFFF;
            }
        }

        &  input[type="number"]::-webkit-outer-spin-button,
           input[type="number"]::-webkit-inner-spin-button {
                -webkit-appearance: none; 
           }
            input[type='number'],
            input[type="number"]:hover,
            input[type="number"]:focus {
                appearance: none;
                -moz-appearance: textfield;
        }
    }

    &-result{
        & .value-wrapper{
            width: 60%;
            padding-left: 50px;
        }
        #amount-of{
            
            flex-wrap: nowrap;
            text-align: center;
            padding-bottom: 5px;
            border-bottom: 1px solid #D3D6E9;
        }
        
    }

    &-descr{
        text-align: center;
        font-size: 14px;
    }
    &-phone{
        text-align: center;
        & .to_phone{
            
            display: inline-block;
            font-size: 14px;
            padding: 4px 9px;
            border: 3px solid #D3D6E9;
            border-radius: 5px;

            transition: all .5s;
            &:hover{
                transform: scale(1.2);
                color: #000;
                background-color: #D3D6E9;
            }
        }
    }
}

.press{
    font-size: 21px;
    
    margin-left: 5px;  
    font-weight: bold;

    text-shadow: 2px 2px  #000;
}

.menu-top__img{
    width: 100%;
}






.contact{
    text-align:right;
    position: fixed;
    
    bottom: 10px;
    
    right: 10px;
    margin:auto;
    max-height:80px;
  }
  
  ul.submenu{
    background-color: #212121;
    border-radius:5px;
    display:inline-block;
    padding:3px 4px;
    margin:0;
    overflow:hidden;
    li{
      display:inline-block;

      a{
        i.fa{
            font-size: $fa-size;
          display:inline-block;
          border:1px solid transparent;
          color:#ccc;
          height:30px;
          width:30px;
          border-radius:50px;
          margin:10px;
          text-align:center;
          line-height:30px;
          position: relative;
          z-index:2;
          &::after{
            content:"";
            height:0%;
            width:0%;
            position: absolute;
            top: -500%;
            bottom: -500%;
            left: -500%;
            right: -500%;
            margin:auto;
            border:0px solid transparent;
            border-radius:200px;
            opacity: 0;
            z-index:-1;
            transition:all ease 0.5s;
          }
        }
        &:hover{
          i.fa::before{
            color:#fff;
          }
          i.fa-facebook::after{
            height:200%;
            width:200%;
            background-color: rgb(59,89,152);
            border-radius:0px;
            opacity:1;
          }
          
          i.fa-twitter::after{
            height:200%;
            width:200%;
            background-color: rgb(29,202,255);
            border-radius:0px;
            opacity:1;
          }
          i.fa-instagram::after{
            height:200%;
            width:200%;
            background-color: rgb(138,58,185);
            border-radius:0px;
            opacity:1;
          }
          i.fa-whatsapp::after{
            height:200%;
            width:200%;
            background-color: rgb(37,211,102);
            border-radius:0px;
            opacity:1;
          }
          i.fa-vk::after{
            height:200%;
            width:200%;
            background-color: rgb(76, 117, 163);
            border-radius:0px;
            opacity:1;
          }
          i.fa-phone::after{
            height:200%;
            width:200%;
            background-color: rgb(46,85,185,1);
            border-radius:0px;
            opacity:1;
          }
        }
      }
    }
  }
.hide__some{
    display: none;
}










@media (max-width: 1400px){

    $fa-size: 25px;
    $menu-point: 15px;
    $menu-point--height: 14px;
    $menu-point--hover: 18px;
    $submenuItems-fs: 11px;
    $submenuItems-lh: 11px;

    .dropdownlink__uslug-arrow{
        width: 40px;
        height: 25px;
    }

    .dropdownlink {

        font-size: $menu-point;
        &-a{
            line-height: $menu-point--height;
            &:hover{
                font-size: $menu-point--hover;
            }
        }
    }
    
    .submenuItems a  {
        font-size: $submenuItems-fs;
        line-height: $submenuItems-lh;
    }

    .contact{
        ul.submenu{
            padding:2px 4px;
            padding: 0;
            margin:0;
            .fa{
                height:20px;
                width:20px;
                border-radius:50px;
                margin:10px;
                text-align:center;
                line-height:20px;
                font-size: $fa-size;
            }
        }
    }
}






@media (max-width: 1200px){

    $menu-point: 15px;
    $menu-point--height: 14px;
    $menu-point--hover: 15px;
    $submenuItems-fs: 11px;
    $submenuItems-lh: 11px;

    .dropdownlink__uslug-arrow{
        width: 35px;
        height: 20px;
    }

    .dropdownlink {

        font-size: $menu-point;
        &-a{
            line-height: $menu-point--height;
            &:hover{
                font-size: $menu-point--hover;
            }
        }
    }
    
    .submenuItems a  {
        font-size: $submenuItems-fs;
        line-height: $submenuItems-lh;
    }
}

@media (max-width: 1060px){
    $menu-width: 30%;
    .menu{
        width: $menu-width;
    }
    .main{
        padding-left: $menu-width;
    }
    .popup__body{
        padding-left: $menu-width+4%;
    }
}
.header{

    &__burger{
        display: none;
    }
}




//mobile__devices
@media (max-width: 820px){
    $menu-width: 45%;

    .container {
        max-width: 1240px;
        margin: 0 auto;
        padding: 0 10px;
    }
    .menu{
        width: $menu-width;
        transition:all 1s;
        text-align: center;
        z-index: 200;
        position: fixed;
        left: -100%;
        top: 0;
        
        background-color: transparent;
        
        overflow: auto;
        
        transition:all 1s;
        &.active{
            transition:all 1s;
            left: 0;
            
            //.header__content-text {height: 50vh;}
        }
    }

    .burger__inner{
        z-index: 200;
        cursor: pointer;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
        position: absolute;
        left: 0;
        top: 10%;
        background-color: blue;
        padding: 24px 5px;
        transition:all .5s;
        &.active{
            transition:all 1s;
            padding-left: $menu-width;
        }
    }

    
    .header__burger{
        z-index: 200;
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        &::after,
        &::before{
            z-index: 300;
            content: "";
            background-color: #FFF;
            position: absolute;
            width: 100%;
            height: 2px;
            left: 0;

            transition: all .5s;
        }
        & span{
            z-index: 300;
            background-color:#fff;
            position: absolute;
            width: 100%;
            height: 2px;
            left: 0;
            top: 9px;

            transition: all .5s;

        }
        &::before{
            top: 0;
        }
        &::after{
            bottom: 0;
        }
        &.active::before{
            transform: rotate(45deg);
            top: 9px;
        }
        &.active::after{
            transform: rotate(-45deg);
            bottom: 9px;
        }
        &.active span{
            transform: scale(0);
        }
        
    }

    .main{
        padding-left: 0;
    }

    .popup__body{
        padding-left: 15px;
        justify-content: center;
        align-items: center;
        
    }
   
    .dropdownlink__uslug-arrow{
        left: 10%;
    }
}

